@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color-1: #92977E;
    --primary-color-2: #E6E18F;
    --secundary-color-1: #FEFCAD;
    --secundary-color-2: #EADDA6;
    --neutral-color-light: #FFFAE2;
    --neutral-color-dark: #22211f;
    color-scheme: light dark;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--neutral-color-dark);
    background-color: var(--neutral-color-light);
    overflow-x: clip;
}

.margin-page {
    margin: 0 1rem;
}



@media (prefers-color-scheme: dark) {
    body {
        color: var(--neutral-color-light), var(--secundary-color-2);
        background-color: var(--neutral-color-dark);
    }

    #menuContent li .ingredients {
        color: var(--secundary-color-2);

    }

    .dropdown-content {
        background-color: var(--primary-color-1);

    }
    
    .dropdown-content a {
        color: var(--neutral-color-light);
        border-bottom: 1px solid var(--neutral-color-light);
    }

    header.scrolled ul {
        background-color: #92977e8d;
        color: var(--neutral-color-light);

    }
    header ul a{
        color: var(--neutral-color-light);

    }

    .infobox-cnt .child-cnt {
        background-color: var(--primary-color-1);

    }

    .map {
        filter: invert(90%);
    }

}

@media (prefers-color-scheme: light) {
    body {
        color: var(--neutral-color-dark);
        background-color: var(--neutral-color-light);
    }

    #menuContent li .ingredients {
        color: var(--primary-color-1);

    }

    header ul li {
        color: var(--neutral-color-dark);
    }

    .scrolled-text {
        color: var(--neutral-color-dark);
    }
    
    header.scrolled ul {
        background-color: #92977e85;

    }



    .dropdown-content {
        background-color: var(--primary-color-1);
        

    }

    .dropdown-content a {
        color: var(--neutral-color-light);
        border-bottom: 1px solid var(--neutral-color-light);
    }

    .infobox-cnt .child-cnt {
        background-color: #92977E;
        color: var(--neutral-color-light);
    }

    header ul a{
        color: var(--neutral-color-dark);

    }

}



header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

header ul {

    display: flex;
    font-weight: bold;
    list-style: none;
    align-items: center;
    gap: 3rem;
    padding: 1rem 1.2rem;
    width: fit-content;
    border-radius: 50vw;
    transition: .3s ease-in-out;

}



header.scrolled ul {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, 0.144) 0px .2px 9px 0px;
}

header ul a{
 text-decoration: none;
}

/* header.scrolled ul li:first-child{
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.092);

    border-radius: 50vw;

} */



.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
}


.image-section .background-section{
    width: 100%;
    height: 60svh;
    filter: opacity(50%);
    object-fit: cover;
    border-radius: 2vw;
}




.image-section .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    object-fit: contain;
    width: 70%;
}

.image-section {
    background-color: var(--neutral-color-dark);
    position: relative;

}

.image-container {
    width: 100%;

}

.image-1 {
    width: 100%;
    max-width: 50rem;
    border-radius: 2vw;
}



.text-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text-image-container h1 {
    text-align: center;
}


#menuContent {
    padding: 2rem;
    border: 1px solid var(--primary-color-1);
    border-radius: 2vw;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;

}

.cont-menu-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuContent h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#menuContent ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ingredients {
    display: flex;
}

.prices {
    padding-left: 1rem;
    display: flex;
    align-items: flex-end;
}

.ingr-cnt {
    display: flex;
    justify-content: space-between;
}



#menuContent ul li {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--primary-color-1);
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   margin-top: 1rem;
}

.dropbtn {
    background-color: var(--primary-color-1);
    color: var(--neutral-color-light);
    padding: 16px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 2vw;
}

.dropbtn:hover {
    background-color: #9aa279;
}

.dropdown-content {
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: fit-content;
    border-radius: 2vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.dropdown-content.show {
    max-height: 500px; /* Adjust this value based on your content */
    
}


.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;


}

.dropdown-content a:last-child {
    border-bottom: none;
}


.dropdown svg {
    width: 15px;
    stroke: white !important;
}

.show {
    display: block;

}

.infobox-cnt img {
    width: 75px;
}

.infobox-cnt {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2.4rem;
    margin-top: 3rem;
}

.infobox-cnt .child-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 15rem;
    max-height: 30rem;
    padding: 2rem;
    border-radius: 2vw;
}

.infobox-cnt .child-cnt p{
    max-width: 15rem;
}

/* GALLERY */


.wrapper h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 5rem;
    color: var(--neutral-color-light);
  }

  .wrapper img {
    width: 21rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 2vw;
    transition: .9s ease;

  }
  .img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .single-img{
    padding:0 20px 20px;
  }
  
  .wrapper img:hover{
    filter: grayscale(100%);
  }

  /* Popup Styles */
.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--neutral-color-dark);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
    color: var(--neutral-color-light);
    text-align: center;
    border-radius: 2vw;
    transition: 1s ease;
}

.popup p {
    margin: 0;
}

.popup button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    background-color: transparent;
    color: var(--neutral-color-light);
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.pop-cnt {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200rem;
}

  
  /* FOOTER */

  footer {
    background-color: #151413;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .7rem;

  }

  footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 0;
  }

  footer ul li img{
    width: 20px;
  }

  footer p {
    color: #595653;
  }

  /* Add these styles to style.css */

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in.show {
    opacity: 1;
}

.slide-in {
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}

.slide-in.show {
    transform: translateY(0);
    opacity: 1;
}

@media (max-width: 555px) {
    header ul {
        display: flex;
        gap: 1rem;
    }
}

@media (min-width: 768px) {
    /* .container-section-1 {
        display: flex;
        gap: 1.5rem;
        font-size: 1.2em;

    }
    .image-section {
        width: 200%;
    }

    .text-section {
        display: flex;
        flex-direction: column;
        justify-content: center ; /* Center text vertically */
        /* background-color: var(--primary-color-1); */
        /* text-align: center;
    } */ 

    .background-section {
        object-position: 20% 80%;
    }

    .text-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50svw;
    }

    .image-1 {
        width:100%;

    }

    .image-container {
        text-align: center;
    }
    
   


}

/* @media (min-width: 1024px) {
    .image-1 {
        width:50rem;

    }
} */